| <img src="../img/logo-unram.png" style="height: 100px" /> | <img src="../img/if-unram.png" style="height: 100px"/> |
| ------------- | ------------- |

# Linear Regression

In [1]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_excel("bb.xlsx")
df.head()

    nama  kalori  sks  bb
0    adi     530    5  89
1   rudi     300   22  48
2   didi     358   15  56
3   budi     510   13  72
4  intan     302   10  54

<h3>1. Linear Regression</h3>

<h4>Linear Regression</h4>

​
$$
 Y: Response \ Variable\\
 X: Predictor \ Variables
$$
​

<b>Linear function:</b>
$$
Yhat = a + b  X
$$

<ul>
    <li>a refers to the <b>intercept</b> of the regression line0, in other words: the value of Y when X is 0</li>
    <li>b refers to the <b>slope</b> of the regression line, in other words: the value with which Y changes when X increases by 1 unit</li>
</ul>

In [26]:
from sklearn.linear_model import LinearRegression

lm = LinearRegression()

In [27]:
X = df[['kalori']]
Y = df['bb']

In [ ]:
lm.fit(X,Y)

In [ ]:
Yhat=lm.predict(X)
Yhat

In [ ]:
lm.intercept_

In [ ]:
lm.coef_

<b>bb</b> = - 2.6080 + 0.1490 x  <b>kalori</b>

<h1> Metric Evaluation </h1>
<h3>Mean Squared Error</h3>

In [28]:
from sklearn.metrics import mean_squared_error
mean_squared_error(Y, Yhat)

10.626430813081791

<h3>Mean Absolute Error</h3>

In [30]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(Y, Yhat)

2.6788015392596067

<h3>R² score, the coefficient of determination</h3>

In [31]:
from sklearn.metrics import r2_score
r2_score(Y, Yhat)

0.950577039146636

<h1> Contoh 2 </h1>

In [2]:
df = pd.read_csv("clean_auto.csv")
df.head()

,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,fuel-type-diesel,fuel-type-diesel.1
0,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,0.811148,...,9.0,111,5000.0,21,27,13495.0,11.190476,Low,0,1
1,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,0.811148,...,9.0,111,5000.0,21,27,16500.0,11.190476,Low,0,1
2,1,122,alfa-romero,std,two,hatchback,rwd,front,94.5,0.822681,...,9.0,154,5000.0,19,26,16500.0,12.368421,Medium,0,1
3,2,164,audi,std,four,sedan,fwd,front,99.8,0.848630,...,10.0,102,5500.0,24,30,13950.0,9.791667,Low,0,1
4,2,164,audi,std,four,sedan,4wd,front,99.4,0.848630,...,8.0,115,5500.0,18,22,17450.0,13.055556,Low,0,1

In [3]:
from sklearn.linear_model import LinearRegression

lm = LinearRegression()
lm

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

<h4>How could Highway-mpg help us predict car price?</h4>

For this example, we want to look at how highway-mpg can help us predict car price.
Using simple linear regression, we will create a linear function with "highway-mpg" as the predictor variable and the "price" as the response variable.

In [4]:
df[["highway-mpg", "price"]].corr()

             highway-mpg     price
highway-mpg     1.000000 -0.704692
price          -0.704692  1.000000

In [5]:
X = df[['highway-mpg']]
Y = df['price']

Fit the linear model using highway-mpg.

In [6]:
lm.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

We can output a prediction

In [7]:
Yhat=lm.predict(X)
Yhat[0:5]

array([16236.50464347, 16236.50464347, 17058.23802179, 13771.3045085 ,
       20345.17153508])

<h4>What is the value of the intercept (a)?</h4>

In [8]:
lm.intercept_

38423.305858157386

<h4>What is the value of the Slope (b)?</h4>

In [9]:
lm.coef_

array([-821.73337832])

<h3>What is the final estimated linear model we get?</h3>

As we saw above, we should get a final linear model with the structure:

$$
Yhat = a + b  X
$$

Plugging in the actual values we get:

<b>price</b> = 38423.31 - 821.73 x  <b>highway-mpg</b>

# <h2>Multiple Linear Regression</h2>

$$
Y: Response \ Variable\\
X_1 :Predictor\ Variable \ 1\\
X_2: Predictor\ Variable \ 2\\
X_3: Predictor\ Variable \ 3\\
X_4: Predictor\ Variable \ 4\\
$$

$$
a: intercept\\
b_1 :coefficients \ of\ Variable \ 1\\
b_2: coefficients \ of\ Variable \ 2\\
b_3: coefficients \ of\ Variable \ 3\\
b_4: coefficients \ of\ Variable \ 4\\
$$

The equation is given by

$$
Yhat = a + b_1 X_1 + b_2 X_2 + b_3 X_3 + b_4 X_4
$$

<p>From the previous section  we know that other good predictors of price could be:</p>
<ul>
    <li>Horsepower</li>
    <li>Curb-weight</li>
    <li>Engine-size</li>
    <li>Highway-mpg</li>
</ul>
Let's develop a model using these variables as the predictor variables.

In [ ]:
Z = df[['horsepower', 'curb-weight', 'engine-size', 'highway-mpg']]
lm.fit(Z, df['price'])

In [ ]:
lm.intercept_

In [ ]:
lm.coef_

In [ ]:
from sklearn.metrics import mean_squared_error

mean_squared_error(Yhat, Y)