In [29]:
import pandas as pd
import matplotlib.pyplot as mpp
import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.preprocessing import MinMaxScaler

import os

In [7]:
df = pd.read_csv('archive (1)/Social_Network_Ads.csv')

In [8]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [11]:
df = df.drop(columns=['User ID'])
# get dummies kalo categorical
data = pd.get_dummies(df)
data.head()

   Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male
0   19            19000          0              0            1
1   35            20000          0              0            1
2   26            43000          0              1            0
3   27            57000          0              1            0
4   19            76000          0              0            1

In [13]:
predictions = ['Age' , 'EstimatedSalary' , 'Gender_Female' , 'Gender_Male']
x = data[predictions]
y = data['Purchased']

In [22]:
scaler = StandardScaler()
scaler.fit(x)

scaledData = scaler.transform(x)
scaledData = pd.DataFrame(scaledData, columns= x.columns)

In [23]:
scaledData.head()

        Age  EstimatedSalary  Gender_Female  Gender_Male
0 -1.781797        -1.490046      -1.020204     1.020204
1 -0.253587        -1.460681      -1.020204     1.020204
2 -1.113206        -0.785290       0.980196    -0.980196
3 -1.017692        -0.374182       0.980196    -0.980196
4 -1.781797         0.183751      -1.020204     1.020204

In [25]:
xTrain, xTest, yTrain, yTest = train_test_split(scaledData, y, test_size = 0.2, random_state=42)

In [27]:
model = linear_model.LogisticRegression()
model.fit(xTrain,yTrain)

LogisticRegression()

In [28]:
model.score(xTest,yTest)

0.8875

In [32]:
# coba pake minmax
scalerMinMax = MinMaxScaler()
scaledMinMax = scalerMinMax.fit(x)
scaledMinMax = scalerMinMax.transform(x)
scaledMinMax = pd.DataFrame(scaledMinMax,columns=x.columns)
scaledMinMax.head()

        Age  EstimatedSalary  Gender_Female  Gender_Male
0  0.023810         0.029630            0.0          1.0
1  0.404762         0.037037            0.0          1.0
2  0.190476         0.207407            1.0          0.0
3  0.214286         0.311111            1.0          0.0
4  0.023810         0.451852            0.0          1.0

In [33]:
xTrain, xTest, yTrain, yTest = train_test_split(scaledMinMax, y, test_size = 0.2, random_state=42)
model = linear_model.LogisticRegression()
model.fit(xTrain,yTrain)
model.score(xTest, yTest)

0.875